@using BDTest
@using BDTest.ReportGenerator.RazorServer.Extensions
@using BDTest.ReportGenerator.RazorServer.Models
@model BDTest.ReportGenerator.RazorServer.Models.GroupedScenarioViewModel

@{ var testTimer = BDTestUtil.GetTestTimer(Model.Scenarios); }

@if (Model.Scenarios.Count != 1)
{
    Model.GroupedScenarioIndex.IncrementAndGet();
    
    <tr scenario-group="@Model.GroupedScenarioIndex.Get()" class="pointer">
        <td class="has-text-centered">
            <button class="button is-fullwidth is-info no-pointer">@Model.Scenarios.First().GetScenarioText() (@Model.Scenarios.Count)</button>
        </td>
        <td class="has-text-centered">
            <button class="@Model.Scenarios.GetTotalStatus().GetCssColourValueForStatus() button is-fullwidth no-pointer">@Model.Scenarios.GetTotalStatus()</button>
        </td>
        <td class="has-text-centered">@testTimer.ElapsedTime.ToPrettyFormat()</td>
        <td class="has-text-centered">@testTimer.TestsStartedAt.ToStringForReport()</td>
        <td class="has-text-centered">@testTimer.TestsFinishedAt.ToStringForReport()</td>
    </tr>
}

@{ var indexOfScenarioInParent = new ReferenceInt(0); }
@foreach (var scenario in Model.Scenarios)
{
    @(await Html.PartialAsync("_SingleScenarioTableRow", new ScenarioViewModel
    {
        Scenario = scenario,
        GroupedScenarioParentIndex = Model.GroupedScenarioIndex,
        IndexOfScenarioInParent = indexOfScenarioInParent.IncrementAndGet(),
        IsPartOfGroupedScenarios = Model.Scenarios.Count != 1
    }))
}

