@using BDTest.NetCore.Razor.ReportMiddleware.Extensions
@using BDTest.NetCore.Razor.ReportMiddleware.Models
@model List<BDTest.Maps.BDTestOutputModel>

@{
    ViewBag.Title = "Test Times";
    Layout = "_Layout";

    var allScenarios = Model.SelectMany(model => model.Scenarios).Where(scenario => scenario != null);
    var groupedScenarios = allScenarios.GroupBy(scenario => new ScenarioGroupKey
    {
        StoryText = scenario.GetStoryText(),
        ScenarioText = scenario.GetScenarioText()
    });
}

<section class="hero is-info">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Test Times
            </h1>
            <h2 class="subtitle">
                Here are how your test times compare across multiple runs:
            </h2>
            <h3 class="subtitle is-7">
                * Test times are only compared if the test passed.
            </h3>
        </div>
    </div>
</section>

<section class="section">
    
    <div class="container">
        <div class="box">
                        
            <table class="table is-fullwidth">
                <thead>
                <tr>
                    <th class="has-text-centered">Scenario</th>
                    <th class="has-text-centered">Fastest</th>
                    <th class="has-text-centered">Average</th>
                    <th class="has-text-centered">Slowest</th>
                    <th class="has-text-centered">Slowest - Fastest Difference</th>
                </tr>
                </thead>
                <tbody>
    
                @foreach (var scenarioTimingModel in groupedScenarios
                    .Select(x => new MultipleTestRunsTimingDifferenceModel(x))
                    .Where(model => !string.IsNullOrEmpty(model.ScenarioName))
                    .OrderByDescending(model => model.Difference))
                {
                    <tr>
                        <td class="has-text-centered align-middle">
                            <button class="btn btn-primary no-pointer">@scenarioTimingModel.ScenarioName (@scenarioTimingModel.ScenarioCount)</button>
                        </td>
                        <td class="has-text-centered align-middle">
                            <div class="tooltip">
                                @scenarioTimingModel.Fastest.ToString()
                                <span class="tooltiptext">@scenarioTimingModel.Fastest.ToPrettyFormat()</span>
                            </div>
                        </td>
                        <td class="has-text-centered align-middle">
                            <div class="tooltip">
                                @scenarioTimingModel.Average.ToString()
                                <span class="tooltiptext">@scenarioTimingModel.Average.ToPrettyFormat()</span>
                            </div>
                        </td>
                        <td class="has-text-centered align-middle">
                            <div class="tooltip">
                                @scenarioTimingModel.Slowest.ToString()
                                <span class="tooltiptext">@scenarioTimingModel.Slowest.ToPrettyFormat()</span>
                            </div>
                        </td>
                        <td class="has-text-centered align-middle">
                            <div class="tooltip">
                                @scenarioTimingModel.Difference.ToPrettyFormat()
                                <span class="tooltiptext">@scenarioTimingModel.Difference.ToString()</span>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
                        
        </div>
    </div>
</section>