@using BDTest.NetCore.Razor.ReportMiddleware.Constants
@using BDTest.NetCore.Razor.ReportMiddleware.Extensions
@using BDTest.NetCore.Razor.ReportMiddleware.Helpers
@using BDTest.NetCore.Razor.ReportMiddleware.Models
@using BDTest.NetCore.Razor.ReportMiddleware.Models.ViewModels
@using BDTest.Test
@model IEnumerable<BDTest.NetCore.Razor.ReportMiddleware.Models.TestRunSummary>
@inject BDTestReportServerOptions BDTestReportServerOptions;

@{
    ViewBag.Title = "Test Runs";
    Layout = "_Layout";
    var isAdmin = await BDTestReportServerOptions.AdminAuthorizer.IsAdminAsync(Context);
    var pager = new Pager<TestRunSummary>(Model.ToArray(), Context.GetCurrentPageNumber());
}

<script>
    function confirmDelete(testId, tag, environment, branch, date) {
        let message = 'Are you sure you want to delete this test run?\n';
        message += '\nTest ID: ' + testId;
        if (tag) {
            message += '\nTag: ' + tag;
        }
        if (environment) {
            message += '\nEnvironment: ' + environment;
        }
        if (branch) {
            message += '\nBranch: ' + branch;
        }
        message += '\nDate: ' + date;
        
        if (confirm(message)) {
            @{
                var baseUrl = Context.GetBaseUrl();
            }
            window.location.href = "@baseUrl/bdtest/report/delete/" + testId;
        }
    }

    function filterByStatus(status) {
        
        let mainDropdownButton = document.getElementById("dropdown-main-button");
        
        switch (status) {
          case '@StatusConstants.All':
            mainDropdownButton.innerHTML = 'Show All';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-primary";
            break;
          case '@Status.Passed':
            mainDropdownButton.innerHTML = 'Show Success';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-success";
            break;
          case '@Status.Failed':
            mainDropdownButton.innerHTML = 'Show Failures';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-danger";
            break;
          case '@Status.Skipped':
            mainDropdownButton.innerHTML = 'Show Skipped';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-warning";
            break;
          case '@Status.Inconclusive':
            mainDropdownButton.innerHTML = 'Show Inconclusive';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-warning";
            break;
          case '@Status.NotImplemented':
            mainDropdownButton.innerHTML = 'Show Not Implemented';
            mainDropdownButton.className = "btn dropdown-toggle has-text-centered btn-warning";
            break;
        }
        
       window.selectedStatus = status;
       performFilter();
    }

    function getCheckedIdsAsQueryParameter() {
        let checkboxes = document.getElementsByName("checkbox");
                  let checkedIds = [];
                  
                  for (let i=0; i<checkboxes.length; i++) {
                       // And stick the checked ones onto an array...
                       if (checkboxes[i].checked) {
                          checkedIds.push(checkboxes[i].id);
                       }
                    }
                  
                  let queryString = "?reportIds=" + checkedIds.join(",");
                  
                  return queryString;
    }

    onDomLoaded(function() {
        const compareTimesButton = document.getElementById("compare-times");
                compareTimesButton.addEventListener('click', function() {
                    let checkIdsQueryParameter = getCheckedIdsAsQueryParameter();
                    if(checkIdsQueryParameter === "?reportIds=") {
                        showSnackbar("Please check some test runs to compare");
                        return;
                    }
                  window.location = "@Url.Action("TestRunTimes", "BDTest")" + checkIdsQueryParameter;
                });
                
                const checkFlakinessButton = document.getElementById("check-flakiness");
                        checkFlakinessButton.addEventListener('click', function() {
                        let checkIdsQueryParameter = getCheckedIdsAsQueryParameter();
                        if(checkIdsQueryParameter === "?reportIds=") {
                            showSnackbar("Please check some test runs to compare");
                            return;
                        }
                          window.location = "@Url.Action("TestRunFlakiness", "BDTest")" + checkIdsQueryParameter;
                        });
    });
</script>

@await Html.PartialAsync("_TestPageHeaderHero", new TestPageHeaderHeroViewModel
{
    Title = "Test Runs",
    Description = "View a report from the list or select some test runs to compare"
})

<section class="section">
    <div class="container">
        <nav class="level">
            <div class="level-item">
                @await Html.PartialAsync("_PaginationButtons", pager.GetPaginationInformation())
            </div>
        </nav>
        <div class="container-fluid d-flex">
            <div class="level-left mb-5 me-auto">
                @await Html.PartialAsync("_TestRunListVisibleColumnsDropdown")
            </div>
            <div class="level-right mb-5">
                @await Html.PartialAsync("_StatusDropdown", new StatusDropdownViewModel {IncludeScript = false})
            </div>
        </div>

        @if (Context.GetCurrentPageNumber() == PagerQueryParameters.All)
        {
            <nav class="level">
                <div class="">
                    <div class="mx-4">
                        <label>Filter by Tag</label>
                        <input class="input" type="text" id="filter-tag" placeholder="Tag">
                        <div class="has-text-right">
                            <label>Exact Match</label>
                            <input type="checkbox" id="filter-tag-checkbox"/>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="mx-4">
                        <label>Filter by Environment</label>
                        <input class="input" type="text" id="filter-environment" placeholder="Environment">
                        <div class="has-text-right">
                            <label>Exact Match</label>
                            <input type="checkbox" id="filter-environment-checkbox"/>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="mx-4">
                        <label>Filter by Machine</label>
                        <input class="input" type="text" id="filter-machine-name" placeholder="Machine Name">
                        <div class="has-text-right">
                            <label>Exact Match</label>
                            <input type="checkbox" id="filter-machine-name-checkbox"/>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="mx-4">
                        <label>Filter by Branch</label>
                        <input class="input" type="text" id="filter-branch" placeholder="Branch">
                        <div class="has-text-right">
                            <label>Exact Match</label>
                            <input type="checkbox" id="filter-branch-checkbox"/>
                        </div>
                    </div>
                </div>
            </nav>
        }

        <script>
            let filterObjectsArray = [];
        
             function matches(tag, filterValue, checkbox){
                 if(checkbox.checked === false) {
                    return tag.textContent.toLowerCase().includes(filterValue.toLowerCase());
                 }
                 
                 return tag.textContent === filterValue;
             }
             
             function performFilter() {
                 
                 // Make all visible
                 for (const filterObject of filterObjectsArray) {
                     let tags = document.getElementsByName(filterObject.tableCellNamesToCheck);
                     for (const tag of tags) {
                        setElementVisible(tag.parentElement);   
                     }
                 }
                 
                 for (const filterObject of filterObjectsArray) {
                     let filterValue = filterObject.filterInput.value;
                     
                     if(!filterValue) {
                         continue;
                     }
                     
                     let tags = document.getElementsByName(filterObject.tableCellNamesToCheck);
                     for (const tag of tags) {
                         
                        if(!matches(tag, filterValue, filterObject.checkbox)) {
                            setElementInvisible(tag.parentElement);
                        }
                     }
                 }
                 
                 if(!window.selectedStatus || window.selectedStatus !== "@StatusConstants.All") {
                     let rowsNotMatchingStatus = document.querySelectorAll(".test-run-row:not(." + selectedStatus + ")");
                     for (let rowNotMatchingStatus of rowsNotMatchingStatus) {
                         setElementInvisible(rowNotMatchingStatus);
                     }
                  }
             }
        
            function filterRows(inputElementId, checkboxId, tableCellNamesToCheck) {
              let filterInput = document.getElementById(inputElementId);
              let checkbox = document.getElementById(checkboxId);
              
              filterObjectsArray.push({filterInput: filterInput, checkbox: checkbox, tableCellNamesToCheck: tableCellNamesToCheck});
              
              filterInput.addEventListener('input', function() {
                  performFilter();
              });
              
              checkbox.addEventListener('change', function() {
                  performFilter();
              });
            }
        </script>

        @if (Context.GetCurrentPageNumber() == PagerQueryParameters.All)
        {
            <script>
            onDomLoaded(function() {
                filterRows("filter-tag", "filter-tag-checkbox", "tag-field");
                filterRows("filter-environment", "filter-environment-checkbox", "environment-field");
                filterRows("filter-machine-name", "filter-machine-name-checkbox", "machine-name-field");
                filterRows("filter-branch", "filter-branch-checkbox", "branch-field");
            })
            </script>
        }

        <table class="table table-hover">

            <thead>
            <tr class="off-white-bg-color">
                <th class="has-text-centered">
                    <input id="checkbox-header" type="checkbox"/>
                </th>
                <th class="has-text-centered tag-column">Tag</th>
                <th class="has-text-centered environment-column">Environment</th>
                <th class="has-text-centered machine-column">Machine Name</th>
                <th class="has-text-centered branch-column">Branch</th>
                <th class="has-text-centered date-column">Date and Time</th>
                <th class="has-text-centered duration-column">Duration</th>
                <th class="has-text-centered">Tests Run</th>
                <th class="has-text-centered">Status</th>
                @* View report column *@
                <th></th>
                @if (isAdmin)
                {
                    // Delete Test Run column
                    <th></th>
                }
            </tr>
            </thead>
            <tbody>

            @foreach (var record in pager.ItemsForCurrentPage)
            {
                var status = record.Status.ToString();
                if (record.Status == Status.Failed)
                {
                    status += $" ({record.Counts.Failed})";
                }
                var timeTaken = record.FinishedAtDateTime - record.StartedAtDateTime;


                <tr class="off-white-bg-color test-run-row @record.Status">
                    <td class="has-text-centered align-middle">
                        <input name="checkbox" type="checkbox" class="checkbox-child" id="@record.RecordId"/>
                    </td>
                    <td name="tag-field" class="has-text-centered align-middle tag-column">@record.Tag</td>
                    <td name="environment-field" class="has-text-centered align-middle environment-column">@record.Environment</td>
                    <td name="machine-name-field" class="has-text-centered align-middle machine-column">@record.MachineName</td>
                    <td name="branch-field" class="has-text-centered align-middle branch-column">@record.BranchName</td>
                    <td class="has-text-centered align-middle date-column">@record.StartedAtDateTime.ToStringForReport()</td>
                    <td class="align-middle duration-column" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@timeTaken.ToPrettyFormat()">
                        @timeTaken.ToString()
                    </td>
                    <td class="has-text-centered align-middle">
                        <span class="title is-4">@record.Counts.Total</span>
                    </td>
                    <td class="has-text-centered align-middle">
                        <div class="d-grid">
                            <button class="btn @record.Status.GetCssColourValueForStatus() tag px-5 is-medium">
                                @status
                            </button>
                        </div>
                    </td>
                    <td class="align-middle">
                        <a href="~/bdtest/report/@record.RecordId/summary">
                            <button class="btn btn-dark pointer">View Report</button>
                        </a>
                    </td>
                    @if (isAdmin)
                    {
                        <td class="align-middle">
                            <button class="delete" onclick="confirmDelete('@record.RecordId', '@record.Tag', '@record.Environment', '@record.BranchName', '@record.StartedAtDateTime')"></button>
                        </td>
                    }
                </tr>
            }

            </tbody>
        </table>
        
        <nav class="level">
            <div class="level-item">
                @await Html.PartialAsync("_PaginationButtons", pager.GetPaginationInformation())
            </div>
        </nav>

    </div>
</section>
