@using BDTest.NetCore.Razor.ReportMiddleware.Constants
<script>
    function orderBy(value) {
      window.location.href = getUrlWithAppendedParameter('order', value);
    }
</script>

<div class="dropdown">
    <div class="dropdown-trigger">
        <button class="btn btn-primary" aria-haspopup="true" aria-controls="dropdown-menu">
            Order By <i class="arrow down"></i>
            @* <span class="icon is-small"> *@
            @*   <i class="fas fa-angle-down" aria-hidden="true"></i> *@
            @* </span> *@
        </button>
    </div>
    <div class="dropdown-menu has-text-centered" id="dropdown-menu" role="menu">
        <div class="dropdown-content has-text-centered">
            <a href="#" class="dropdown-item">
                <button class="btn" onclick="orderBy('@OrderConstants.Name');">
                    Order by Name
                </button>
            </a>
            <a class="dropdown-item">
                <button class="btn" onclick="orderBy('@OrderConstants.Duration');">
                    Order by Duration
                </button>
            </a>
            <a href="#" class="dropdown-item">
                <button class="btn" onclick="orderBy('@OrderConstants.DateDescending');">
                    Order by Time Descending
                </button>
            </a>
            <a href="#" class="dropdown-item">
                <button class="btn" onclick="orderBy('@OrderConstants.DateAscending');">
                    Order by Time Ascending
                </button>
            </a>
            <a href="#" class="dropdown-item">
                <button class="btn" onclick="orderBy('@OrderConstants.Status');">
                    Order by Status
                </button>
            </a>
        </div>
    </div>
</div>