@using BDTest.NetCore.Razor.ReportMiddleware.Constants
<script>
    function orderBy(value) {
      window.location.href = getUrlWithAppendedParameter('@OrderConstants.OrderByQueryParameterName', value);
    }
</script>

<button class="btn btn-primary dropdown-toggle" aria-haspopup="true" aria-controls="dropdown-menu" data-bs-toggle="dropdown" aria-expanded="false">
        Order By
</button>
<ul class="dropdown-menu" id="dropdown-menu" role="menu">
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.Name');">Order by Name</a></li>
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.DurationDescending');">Order by Duration Descending</a></li>
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.DurationAscending');">Order by Duration Ascending</a></li>
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.DateDescending');">Order by Time Descending</a></li>
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.DateAscending');">Order by Time Ascending</a></li>
    <li><a href="#" class="dropdown-item" onclick="orderBy('@OrderConstants.Status');">Order by Status</a></li>
</ul>