@using BDTest.NetCore.Razor.ReportMiddleware.Extensions
@model BDTest.NetCore.Razor.ReportMiddleware.Models.ViewModels.ScenarioRowViewModel

@{
    var indexTextClass = Model.IsPartOfGroupedScenarios ? "indent-text-2" : "";
    var rowIsChildScenarioCssClass = Model.IsPartOfGroupedScenarios ? "smaller-font" : "";
    var parentScenarioGroupId = Model.IsPartOfGroupedScenarios ? Model.GroupedScenarioParentIndex.Get() : -1;
    var scenarioCountInsideParentGroup = Model.IsPartOfGroupedScenarios ? $"(Test {Model.IndexOfScenarioInParent.Get()})" : "";
}

<tr class="modal-link pointer scenario-row @rowIsChildScenarioCssClass @Model.Scenario.Status" data-target="scenario-modal-@Model.Scenario.Guid" parent-scenario-group="@parentScenarioGroupId">
    <td class="@indexTextClass">
         @Model.Scenario.GetScenarioText() @scenarioCountInsideParentGroup
    </td>
    <td class="align-middle">
        <button type="button" class="btn @Model.Scenario.Status.GetCssColourValueForStatus()">@Model.Scenario.Status.AsString()</button>
    </td>
    <td class="align-middle" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-content="@Model.Scenario.TimeTaken.ToPrettyFormat()">
        @Model.Scenario.TimeTaken.ToString()
    </td>
    <td class="align-middle">@Model.Scenario.StartTime.ToStringForReport()</td>
    <td class="align-middle">@Model.Scenario.EndTime.ToStringForReport()</td>
</tr>