@using BDTest.NetCore.Razor.ReportMiddleware.Constants
@using BDTest.NetCore.Razor.ReportMiddleware.Helpers
@using BDTest.Test
@model BDTest.NetCore.Razor.ReportMiddleware.Models.StatusDropdownViewModel
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" aria-haspopup="true" aria-controls="dropdown-menu" id="dropdown-main-button" data-bs-toggle="dropdown" aria-expanded="false">
    Show All
    @* <span class="icon is-small"> *@
    @*   <i class="fas fa-angle-down" aria-hidden="true"></i> *@
    @* </span> *@
  </button>
  <ul class="dropdown-menu" id="dropdown-menu" role="menu">
    <li>
      <a class="dropdown-item" onclick="filterByStatus('@StatusConstants.All');">
        Show All
      </a>
    </li>
    <hr class="dropdown-divider">
    <li>
      <a href="#" class="dropdown-item" onclick="filterByStatus('@Status.Passed');">
          Show Passed
      </a>
    </li>
    <li>
      <a class="dropdown-item" onclick="filterByStatus('@Status.Failed');">
          Show Failures
      </a>
    </li>
    <li>
      <a href="#" class="dropdown-item" onclick="filterByStatus('@Status.Skipped');">
          Show Skipped
      </a>
    </li>
    <li>
      <a href="#" class="dropdown-item" onclick="filterByStatus('@Status.Inconclusive');">
          Show Inconclusive
      </a>
    </li>
    <li>
      <a href="#" class="dropdown-item" onclick="filterByStatus('@Status.NotImplemented');">
          Show Not Implemented
      </a>
    </li>
  </ul>
</div>

@if (Model.IncludeScript)
{
  <script>
  function filterByStatus(status) {
    let currentFilterQueryParameter = '@Context.Request.GetQueryParameter("filterByStatus")'
    
    let mainDropdownButton = document.getElementById("dropdown-main-button");
    
    switch (status) {
      case '@StatusConstants.All':
        mainDropdownButton.innerHTML = 'Show All';
        mainDropdownButton.className = "btn has-text-centered btn-primary";
        break;
      case '@Status.Passed':
        mainDropdownButton.innerHTML = 'Show Success';
        mainDropdownButton.className = "btn has-text-centered btn-success";
        break;
      case '@Status.Failed':
        mainDropdownButton.innerHTML = 'Show Failures';
        mainDropdownButton.className = "btn has-text-centered btn-danger";
        break;
      case '@Status.Skipped':
        mainDropdownButton.innerHTML = 'Show Skipped';
        mainDropdownButton.className = "btn has-text-centered btn-warning";
        break;
      case '@Status.Inconclusive':
        mainDropdownButton.innerHTML = 'Show Inconclusive';
        mainDropdownButton.className = "btn has-text-centered btn-warning";
        break;
      case '@Status.NotImplemented':
        mainDropdownButton.innerHTML = 'Show Not Implemented';
        mainDropdownButton.className = "btn has-text-centered btn-warning";
        break;
      }
      
      if (currentFilterQueryParameter !== status) {
        window.location.href = getUrlWithAppendedParameter("filterByStatus", status);
        spinnerCursor()
      }
    }
</script>
}